PORT=4000
MONGO_URI=mongodb://127.0.0.1:27017/almanasa
JWT_SECRET=change-me
JWT_EXPIRES_IN=7d
CLIENT_ORIGIN=http://localhost:3000
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
PAYMOB_HMAC_SECRET=
PAYMOB_API_KEY=
PAYMOB_INTEGRATION_ID=
